.home {
  display: flex;
}
.select {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 90vh;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(0, 59, 82);
}
.link {
  text-decoration: none;
}
h1 {
  color: white;
  background-color: rgb(0, 59, 82);
  height: fit-content;
  border-radius: 10px;
  padding: 0.5rem;
}
.select:nth-child(1) {
  background: url(https://source.unsplash.com/1000x800/?animals) no-repeat
    center/cover;
}
.select:nth-child(2) {
  background: url(https://source.unsplash.com/1000x800/?birds) no-repeat
    center/cover;
}
