header {
  background-color: rgb(0, 26, 36);
  display: flex;
  justify-content: center;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
ul {
  display: flex;
  gap: 2rem;
}
